GitPython==3.1.40
gpiozero==1.6.2
kuksa-client==0.4.2
mypy-extensions==1.0.0
mypy==1.7.1
numpy==1.26.2
paho-mqtt==1.6.1
pylint==3.0.2
pyserial==3.5
pytest-cov==4.1.0
pytest-watch==4.2.0
pytest==7.4.3
python-can==4.3.0
PyYAML==6.0.1
rpi-ws281x==5.0.0
types-paho-mqtt==1.6.0.7
types-pyserial==3.5.0.11
types-PyYAML==6.0.12.12
